# Python
__pycache__/
*.py[cod]
*$py.class

# Виртуальное окружение
.venv/
venv/
env/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db
